* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Gilroy";
  src: url("/assets/font/Gilroy-Medium.ttf");
}
.container {
  width: 1100px;
  margin: auto;
  display: flex;
}
header {
  padding-top: 40px;
  .fit_me {
    padding: 10px;
    h6 {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
    }
  }
  .navbar {
    nav {
      .navbar_list {
        list-style: none;
        display: flex;
        gap: 56px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #111112;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
#catering-diets {
  position: relative;
  display: flex;
  .diet-product-first {
    padding-top: 143px;
    margin-left: -30px;
    img {
      display: block;
    }
  }
  .diet-product-second {
    padding-top: 146px;
    padding-left: 145px;
  }
  img {
    display: block;
  }
  .stir-fry-chicken-sweet-peppers-green-beans-1 {
    padding-top: 112px;
    margin-left: -229px;
  }
}
.catering-diets-summary {
  padding-top: 240px;
  margin-left: 136px;
  .catering-diets-summary-top-border {
    border-top: 2.4px solid #111112;
    border-left: 2.4px solid #111112;
    border-top-left-radius: 18px;
    width: 126px;
    height: 76px;
    position: absolute;
    left: 633px;
  }
  .catering-diets-summary-bottom-border {
    border-right: 2.4px solid #111112;
    border-bottom: 2.4px solid #111112;
    border-bottom-right-radius: 18px;
    width: 127px;
    height: 75px;
    position: absolute;
    right: 360px;
    top: 451px;
  }
  h2 {
    text-align: center;
    font-family: "Gilroy", serif;
    font-style: normal;
    width: 800px;
    font-weight: 600;
    font-size: 67px;
    line-height: 74px;
    margin-bottom: 22px;
    letter-spacing: 3px;
    .red_apple_background {
      background-color: #ffb21a;
      border-radius: 29px;
      width: 127px;
      height: 75px;
      display: inline-block;
      padding: 14px 2px 17px 41px;
    }
    .avocado_background {
      width: 155px;
      height: 76px;
      background: #1ac84b;
      border-radius: 38px;
      display: inline-block;
      padding: 0px 1px 1px 34px;
    }
  }
  .premium-quality {
    padding-top: 9px;
    padding-left: 120px;
  }
  .catering-diets {
    padding-left: 79px;
    margin-top: 1px;
    width: 1000px;
    display: flex;
    gap: 22px;
  }
  .exacting {
    display: flex;
    gap: 25px;
    padding-left: 193px;
  }
  .diets-summary-text {
    padding-top: 58px;
    padding-left: 104px;
    p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #adaeaf;
      width: 599px;
      height: 44px;
      margin: auto;
    }
    .diets-summary-items {
      padding-top: 34px;
      padding-left: 200px;
      display: flex;
      gap: 22px;
      .adjust_diet {
        background: #111112;
        border: 1px solid #111112;
        border-radius: 18px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #fdfbfa;
        padding: 12px 23px;
        cursor: pointer;
      }
      .watch_video {
        position: relative;
        cursor: pointer;
        img {
          position: absolute;
        }
        .ellipse_2 {
          top: -10px;
        }
        .ellipse_1 {
          left: 12px;
        }
        .polygon_1 {
          left: 28px;
          top: 14px;
        }
        p {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          text-align: center;
          color: #111112;
          margin-left: 61px;
          padding-top: 14px;
          width: 88px;
          height: auto;
        }
      }
    }
  }
}
